# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/Leetcode_cpp/.vs
/Leetcode_cpp/001TwoSum/x64/Debug
/Leetcode_cpp/002AddTwoNumbers/x64/Debug
/Leetcode_cpp/x64/Debug
/.vs/LeetCode  练习/v15
/.vs
